.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    flex-direction: row;
    flex: 1;

    margin-bottom: 50px;

    color: #333;
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 8px;
}

.logo p{
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 12px;
}

.nav a {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-size: 16px;
    font-weight: 500;
}

.nav a:hover {
    color: #672687;
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 12px;
}

.icons img {
    cursor: pointer;
}