@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');


* {
  margin: 0;
  padding: 0;
  bottom: 0;
  box-sizing: border-box;
}

ul, li {
  list-style: none;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f3f3f3;
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 1400px;
  margin: 50px;
}

main h2 {
  font-size: 36px;
  font-weight: 700;
  margin: 50px 0;
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 48px;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 48px 0 96px 0;
}

.button-wrapper .button{
  font-size: 18px;
}

.populars {
  margin-bottom: 96px;
}

.partners {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  gap: 128px;

  margin-bottom: 96px;
}

.subscriptions {
  display: flex;
  justify-content: center;
  align-items: center;
}