.banner {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;

    position: relative;
}

.banner-content {
    position: absolute;
    left: 0;
    right: 0;
    top: 30%;
}

.banner-content .title {
    font-size: 64px;
    font-weight: 700;
    color: #f3f3f3;
} 

.banner-content .description {
    font-size: 16px;
    font-weight: 300;
    color: #f3f3f3;

    margin-bottom: 48px;
}

.banner-content .button {
    font-size: 18px;
    padding: 16px 54px;
    transition: all 0.3s ease-in-out;
}

.banner-content .button:hover {
    background-color: #672687;
    color: #f3f3f3;
}